<div class="all-movies-container">
  <h2 id="all-movies-title">All movies list</h2>
  {{#each movies}}
  <div class="movies-description">
    <p class="movie-title"><a href="/movies/{{this._id}}">{{this.title}}</a></p>
    <p><a href="/movies/{{this._id}}"></a>▷ {{this.plot}}</p>
    <form  action="/movies/delete/{{this._id}}" method="POST">
      <button id="delete-btn" type="submit">Delete Movie</button>
    </form>
  </div>
  {{/each}}
</div>
